@import @vi.son/rouge/1-settings/_colors.sass
@import @vi.son/rouge/3-generic/_reset.sass

body
  background: var(--color-dirtysnow)
  color: var(--color-darkness)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100vw
  min-height: 100vh

.sketches-container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 60px
  padding: 60px
  
.link-sketch
  background: var(--color-curacao)
  color: var(--color-snow)
  padding: 60px
  border-radius: 3px
  font-family: Space Mono
  text-decoration: none
